<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
{{range .}}
    {{.Meal}}
    {{range .Items}}
        {{.Name}} - {{.Description}} - {{.Price}}
    {{end}}
{{end}}

</body>
</html>